<div class="container">
  <div class="span5 fill">

    <%= form_for :user, :url => forgot_password_path do |f| %>
    <%= f.text_field :email %>
        <%= f.submit "отправить"%>
    <% end %>
  </div>
</div>