<%= javascript_include_tag "user"%>
<div class="container">
  <div class="span5 fill">

    <div class="row">
      <div class="col-md-4 col-md-offset-3">
        <form action="" class="search-form">
          <div class="form-group has-feedback">
            <label for="search" class="sr-only">Search</label>
            <input type="text" class="form-control" name="search" id="my_search" placeholder="Введите имя, почту или регион">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </form>
      </div>
    </div>
    <div id="result"></div>
    <hr>

    <div class="container bootstrap snippet">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-box no-header clearfix">
            <div class="main-box-body clearfix">
              <div class="table-responsive">
                <table class="table user-list">
                  <thead>
                  <tr>
                    <th style="width: 40%;"><span>Пользователь</span></th>
                    <th style="width: 30%;"><span>Телефон</span></th>
                    <th style="width: 5%;" class="text-center"><span></span></th>
                    <th style="width: 15%;"><span>Почта</span></th>
                    <th style="width: 10%;">&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>

                  <%= render "searchresult" %>

                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>