// Place all the styles related to the switches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.result_sw {
  border: 1px solid black;
}
.result_sw_th {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  background-color:#0066cc;
  color: white;
}
.result_sw_td {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}
input {
  font-size: 12pt;
  font-family: Calibri;
}